@charset "utf-8";

    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        list-style: none;
        text-decoration: none;
        color: #333;
    }

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
}

header > div {
    float: left;
    height: 100%;
}

.log {
    width: 200px;
    padding: 50px;
}

.menu {
    width: 800px;
    float: right;
    margin-right: 50px;
    padding-top: 50px;
}

.main-menu {
    height: 50px;
    width: 800px;
    background-color: #3cb149;
}

.main-menu ul li {
    width: 25%;
    height: 50px;
    float: left;
}
.main-menu ul li a {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    display: block;
    color: black;
    font-weight: bold;
}

.sub-menu {
    width: 1200px;
    background-color: #1d8844;
    height: 100px;
    margin-left: -350px;
    display: none;
}

.sub-menu div {
    float: right;
    width: 800px;
    margin-right: 50px;
}

.sub-menu ul li {
    width: 25%;
    height: 30px;
    float: left;
}

.sub-menu ul li ul li {
    width: 100%;
    height: 30px;
}

.sub-menu ul li ul li a {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: block;
    color: white;
}

.main-menu ul li a:hover {
    background-color: #000;
    color: white;
}

.sub-menu ul li ul li a:hover {
    background-color: #fff;
    color: #000;
}